{{> navbar}}
<div class = "cart-container">
<h1>Your Cart</h1>
{{#if logged_in}}
    {{#if items.length}} 
        <ul>
            {{#each items as |item|}}
            <li>
                <div>
                 <img id="imageURL" src="{{item.item.imageURL}}"> 
                </div> 
                <div class="item-decriptions-cart">
                <p id="name">
                    {{item.item.name}}
                </p>
                <p id="description">
                    {{item.item.description}}
                </p>
                <p id="price">
                    ${{item.item.price}}
                </p>
                <button class="delete-from-cart" data-item-id="{{item.id}}">Delete</button>
                </div>
            </li>
            {{/each}}
        </ul>
        <h3>
            Total: ${{total}}
        </h3>
    {{else}}
        <p>Your cart is empty.</p>
    {{/if}}
{{/if}}
</div>


<script src="/js/itemdetailsPg.js"></script>