{{> navbar}}
    <a href ="{{this.name}}"> <img data-set-id={{this.name}} id="categories" src={{this.imageUrl}}alt="Description"> 
        <h1>Your Cart</h1>
        <p id="text-overlay">{{this.name}}</p> 
        </a>
{{#if logged_in}}
    {{#if cartItem.length}}
        <ul>
            {{#each cartItems}}
                <li>
                    {{this.cartItem.name}} 
                    <!-- Add other item details here -->
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Your cart is empty.</p>
    {{/if}}
{{else}}
    <p>This is coming from the cart.handlebars template</p>
{{/if}}