{{> navbar}}
  <h4> Items in "{{subcategory}}" of "{{category}}"</h4>
  <div class="items">
    {{log "items" itemData}}
    {{#each itemData as |item|}}
    <a href="/items/single/{{item.id}}">
      <div class="item">
        <p>{{item.category}}</p>
        <img src="{{item.imageURL}}" alt="">
        <p>{{item.name}}</p>
        <!-- Add more details as needed -->
      </div>
    </a>
    {{/each}}
  </div>

