 {{> navbar}}
  <div class="item-details">
    <h1>{{item.name}}</h1>

    <div class="item-image">
      <img src="{{item.imageUrl}}" alt="{{item.name}}">
    </div>

    <div class="item-description">
      <p>{{item.description}}</p>
    </div>

    <div class="item-price">
      <p>Price: ${{item.price}}</p>
    </div>

    <div class="item-quantity">
      <p>Quantity: {{item.quantity}}</p>
    </div>

    <div class="item-footprint">
      <p>Carbon Footprint: {{item.carbon}}</p>
      <p>Energy Footprint: {{item.energy}}</p>
      <p>Waste Footprint: {{item.waste}}</p>
    </div>

    <button class="add-to-cart" data-item-id="{{itemID}}">Add to Cart</button>
  </div>