 {{> navbar}}
  <div class="item-details-container" id="name">
    <div class = "item-detail-box">
      <div class="item-image-detail" id = "imageURL">
        <img src="{{item.imageURL}}" alt="{{item.name}}">
      </div>
      <div class="item-detail-card">
        <h1>{{item.name}}</h1> 
        <div class="item-description-detail">
          <p>{{item.description}}</p>
        </div>
        <div class="item-price-detail" id="price">
          <p>
          <span>List Price:</span>${{item.price}}
          </p>
        </div>
        <div class="item-quantity" id="quantity">
          <p>{{item.quantity}}</p>
        </div>
        <div class="item-footprint">
          <h3> Your Environmental Impact </h3>
          <div class = "footprints">
            <p> <span id = "carbon"> Carbon Footprint:</span> {{item.carbon}}</p>
            <p> <span id = "energy">Energy Footprint:</span> {{item.energy}}</p>
            <p> <span id = "waste"> Waste Footprint:</span> {{item.waste}}</p>
          </div>
          <button class="add-to-cart" data-item-id="{{item.id}}">Add to Cart</button>
         </div>
      </div>
    </div>

    <div id="review-form-container" class="hidden">
      <form id="review-form" data-itemID="{{item.id}}">
        <div><i class="fa-solid fa-circle-xmark"></i></div>
        <textarea name="reviewText" cols="30" rows="10"></textarea>
        <p>Rate the item here!</p>
        <input class="stars-range" name="stars" type="range" min="0" max="5" step="1">
        <span class="stars"></span>
        <button>Submit</button>
      </form>
    </div>

    <div class = "reviews">
      <div class = "add-review">
        <h2>Customer Reviews</h2>
        <button id="show-review-form"> Write a review </button>
      </div>
      {{#if reviews.length}}  
        {{#each reviews as |review|}}
          <div class = "review-container">
            <p class = "review-text">{{review.user.name}}</p>
            <p class = "review-text">{{review.reviewText}}</p>
            <p class="review-stars">{{review.stars}} of 5 stars</p>
          </div>
        {{/each}}
        {{else}}
          <p> There are no reviews for this product yet.</p>
      {{/if}}
    </div>
  </div>

  <script src="/js/itemdetailsPg.js"></script>
