{{> navbar}}

<div class="dashboard-container">
  <div class="side-panel">
    <h1>Hey, {{name}}!</h1>
    <ul>
      <li>
        <div>
          <button id="show-my-reviews">
            <i class="fa-regular fa-star"></i>
            My reviews
          </button>
        </div>
      </li>
      {{!-- <li>
        <div>
          <i class="fa-light fa-seedling"></i>
        </div>
        My Footprint
      </li>
      <li>
        <div>
          <i class="fa-regular fa-newspaper"></i>
        </div>
        My Articles
      </li>
      <li>
        <div>
          <i class="fa-light fa-people-group"></i>
        </div>
        My Community
      </li> --}}
    </ul>
    {{> logout}}
  </div>
  <div class="main-content-section">
    <div id="reviews-container" class="hidden">
      <h1>inside of card</h1>
      {{#if reviews.length}}
        {{#each reviews as |review|}}
        {{log review}}
        <div class="card">
          <div class="card-container-reviews">
            <h3>{{review.item.name}}</h3>
            <img class="card-img-top" alt="Card image cap" src='{{review.item.imageURL}}' alt=''>
            <p>{{review.reviewText}}</p>
            <button type="button" class='edit-review-button'> Edit review</button>
            <button type="button" class="delete-review-button">Delete review</button>
            <div class='edit-review-form-container '>
              <form class='edit-review-form' data-reviewid='{{review.item.id}}'>
                <h5 class="card-title">Card title</h5>
                <textarea class="card-text" name='reviewText' cols='30' rows='10'>{{review.reviewText}}</textarea>
                <p>Rate the item here!</p>
                <input class="stars-range" name='stars' type='range' min='0' max='5' step='1' value="{{review.stars}}" />
                <span class="stars"></span>
                <button type="submit">Submit</button>
              </form>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    {{else}}
    <p> You have not submitted any reviews.</p>
    {{/if}}
  </div>

</div>

<script src="/js/profile.js"></script>