{{> navbar}}
<a href=""></a>
 <h1 class="subcategory-heading"> "{{category}}"</h1>
  <div class="subcategories">
    {{log "logging this" subcategories}}
   
    {{#each subcategories}}
      {{log "log this" category}}
     <a href='/items/{{../category}}/{{this}}'>
      <div class="subcategory">
        <h2>{{this}}</h2>
      </div>
      </a>
    {{/each}}
  </div>

